@import "~bootstrap/scss/bootstrap";

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
}
.inputForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.selectContainer {
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	border: 0.2rem solid rgb(61, 61, 61);
	border-radius: 1.5rem;
	max-width: 50rem;
	min-height: 22rem;
}
.setUp {
	display: flex;
	justify-content: space-evenly;
}
